*{
  box-sizing: border-box;
}
body {
    font-family: Verdana,sans-serif;
    font-size: 0.9em;
  }
  
  header, footer {
    padding-right: 10%;
    padding-left: 10%;
    padding-top:10px;
    padding-bottom:10px;
    color: white;
    background-color: black;
  }
  header{
    display: flex;
    justify-content: space-between;
  }
  
  section {
    margin: 5px;
    padding-right: 10%;
    padding-left: 10%;
    padding-top:10px;
    padding-bottom:10px;
    background-color: lightgrey;
    display: flex;
    flex-wrap: wrap;
    
  }
  
  section>h2{
    flex: 100%;
  }
  section>div{
    width: 33.33%;
    padding: 5px;
  }
  article {
    padding: 10px;
    background-color: white;
  }
  nav{
    padding-top:10px;
    padding-bottom:10px;
  }
  nav ul {
    padding: 0;
  }
  nav ul li {
    display: inline;
    margin: 5px;
  }
  @media only screen and (max-width:900px){
    nav ul li{
      display: block;
    }
    header{
      flex-direction: column;
      text-align: center;
    }
    section>div{
      width: 50%;
    }
    section {
      padding-left:0;
      padding-right:0;
      margin: 0;
    }
  }
  @media only screen and (max-width:765px){
    nav ul li{
      display: block;
    }
    header{
      flex-direction: column;
      text-align: center;
    }
    section>div{
      width: 100%;
    }
    section {
      padding-left:0;
      padding-right:0;
      margin: 0;
    }
  }
  